* {
    margin: 0px;
    padding: 0px;
}
/*
body {
    
}

section {
    width: 100%;
    border: 3px solid yellow;
}

section div#minhaImagem {
    border-radius: 25px;
    position: absolute;
    background-color: rgb(32, 160, 235);
}
section div#minhaImagem img {
    border-radius: 100%;
    position: relative;
    width: 300px;
    display: none;
}
*/

.box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-one {
    background: cyan;
}

.box-two {
    background: yellow;
    position: absolute;
    opacity: 0.9;
    top: 100px;
    left: 100px;
}

.container {
    width: 300px;
    margin-top: 100px;
    margin-left: 100px;
    background: lightcoral;
}