@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Reggae+One&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
/*
body {
    
}

section {
    width: 100%;
    border: 3px solid yellow;
}

section div#minhaImagem {
    border-radius: 25px;
    position: absolute;
    background-color: rgb(32, 160, 235);
}
section div#minhaImagem img {
    border-radius: 100%;
    position: relative;
    width: 300px;
    display: none;
}
*/

section {
    background-color: cyan;
    background-image: url(Netflix_Imagem.jpg);
    background-size: 100% 100%;
    width: 600px;
    height: 500px;
    position: relative;
}

div#menu {
    background-color: rgba(0, 0, 0, 0.411);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    color: #e50914;
    font-family: 'Bebas Neue', cursive;
}
section div#menu div#logo {
    width: 20%;
    height: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

section #opcoes {
    width: 20%;
    height: 100%;
}

.alinharCentro {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

section div#centro{
    background-color: rgb(255, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}