/*
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200&family=Poppins:wght@300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 40px
}
*/
/* p {
    color: red;
}
#underline {
    text-align: left;
    text-decoration: underline;
}
#overline {
    text-align: right;
    text-decoration: overline;
}
#line_through {
    text-align: center;
    text-decoration: line-through;
}
a {
    text-decoration: none;
}
#p1 {
    text-transform: uppercase;
    text-transform: justify;
    text-indent: 50px;
    line-height: 25px;
    direction: rtl;
}
#p2 {
    text-transform: capitalize;
    letter-spacing: 5px;
}
#p3 {
    word-spacing: 25px;
}
#shadow {
    text-shadow: 5px 3px 1px gray;
}
*/

/*
Aula 11 | Overflow e Opacity
#conteudo {
    background-color: red;
    width: 300px;
    height: 50px;
    overflow: auto;
}
#conteudo p {
    opacity: 0.5;
}
*/

/*
Aula 16 | Colors (Parte 1)
#cores {
    width: 200px;
    height: 200px;
    background-color: rgba(230, 89, 225, 0.5);
}
*/

/*
Aula 16 | Gradients (Parte 2)
#cores {
    width: 200px;
    height: 200px;
    background: linear-gradient(to top left,red,blue, green);
    background: radial-gradient(red, green);
}
*/

/*
Aula 18 | Float
#base {
    background-color: green;
    width: 600px;
    height: 600px;
}
#esquerda {
    background-color: red;
    width: 300px;
    height: 300px;
    float: left;
}
#direita {
    background-color: blue;
    width: 300px;
    height: 300px;
    float: right;
}
*/

/*
Aula 19 | Position
position: static (default, padrão) SE POSICIONA DE ACORDO COM NAVEGADOR E NÃO COM A DIV PAI(conteudo)
position: relative (se posiciona de acordo com a div pai)
position: fixed (permanece onde está independentemente de onde esteja)
position: absolute (pode posicionar qualquer elemento de acordo com o elemento pai que tenha um position diferente de static)
right, left, top, bottom: 0
*/
#conteudo {
    width: 600px;
    height: 1200px;
    background-color: rgb(253, 66, 66);
}
#texto {
    width: 500px;
    background-color: green;
    position: absolute;
    left: 0;
    top: 40px;
}